{% extends 'layouts/app.jinja2' %}

{% block title %}Your one stop cat stream tweeting service{% endblock %}
{% block heading %}
  <h2>Hi, I heard you like cats</h2>
{% endblock %}

{% block body %}
  <section class="styleguide__editorial-header">
    <div class="editorial-header">
      <p class="editorial-header__excerpt g-wide--pull-1">What's going to
        happen here is, I'm going to ramble about absolutely nothing
        and you will continue to read.</p>

      <p class="g-wide--pull-1">It's mind boggling isn't it? I mean, you already
        know I'm writing content that has absolutely no value whatsoever but you
        simply cannot stop reading. Trust me, I'm pretty surprised too.</p>

      <div class="toc">
        <p class="toc__title"><strong>Browse our knowledge base</strong></p>
        <ol class="toc__list list-anchor" id="toc">
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Dicta optio cumque dolore hic eafacilis</a></li>
          <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
          <li><a href="#">Lorem ipsum dolor sit amet</a></li>
          <li><a href="#">Dicta optio cumque dolore hic ea facilis</a></li>
          <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a></li>
        </ol>
      </div>

      <div class="centered">
        <a href="{{ url_for('user.signup') }}"
           class="xxlarge button--secondary-variation">Hurrrrrry and sign up</a>
      </div>
    </div>
  </section>
{% endblock %}