# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
node_modules/
bin/
develop-eggs/
dist/
eggs/
parts/
sdist/
var/
npm-debug.log
*.egg-info/
.installed.cfg
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
.cache

# Translations
*.mo

# Sphinx documentation
docs/_build/

# OS and editor files
.DS_Store
*/**.DS_Store
._*
.*.sw*
*~
.idea/
.mr.developer.cfg
.project
.pydevproject
*.tmproj
*.tmproject
tmtags

# App ignores.
build/manifest.json
build/public/*
!build/public/robots.txt
!build/public/404.html
!build/public/500.html
!build/public/502.html
!build/public/apple-touch-icon.png
!build/public/chrome-touch-icon-192x192.png
!build/public/favicon.ico
!build/public/icon-128x128.png
!build/public/ms-touch-icon-144x144-precomposed.png


instance/settings.py
celerybeat.pid
celerybeat-schedule
core
