Flask==1.0.*

# Application server for both development and production.
gunicorn==19.8.*

# Testing and static analysis.
pytest==3.5.*
pytest-cov==2.5.*
flake8==3.5.*

# Data and workers.
redis==2.10.*
celery==4.1.*

# Forms.
Flask-WTF==0.14.*
WTForms-Components==0.9.*

# Extensions.
flask-debugtoolbar==0.10.*
Flask-Mail==0.9.*
