amqp==5.0.6
attrs==21.2.0
billiard==3.6.4.0
blinker==1.4
celery==5.0.5
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.1.6
coverage==5.5
decorator==5.0.7
dnspython==2.1.0
email-validator==1.1.2
flake8==3.9.2
Flask==2.0.0
Flask-DebugToolbar==0.11.0
Flask-Mail==0.9.1
Flask-Static-Digest==0.2.1
Flask-WTF==0.14.3
gunicorn==20.1.0
idna==3.1
infinity==1.5
iniconfig==1.1.1
intervals==0.9.1
itsdangerous==2.0.0
Jinja2==3.0.0
kombu==5.0.2
MarkupSafe==2.0.0
mccabe==0.6.1
packaging==20.9
pluggy==0.13.1
prompt-toolkit==3.0.18
py==1.10.0
pycodestyle==2.7.0
pyflakes==2.3.1
pyparsing==2.4.7
pytest==6.2.4
pytest-cov==2.11.1
pytz==2021.1
redis==3.5.3
six==1.16.0
toml==0.10.2
validators==0.18.2
vine==5.0.0
wcwidth==0.2.5
Werkzeug==2.0.0
WTForms==2.3.3
WTForms-Components==0.10.5
