{% import 'macros/form.jinja2' as f with context %}

{% if request.endpoint.endswith('new') %}
  {% set endpoint = 'admin.issues_new' %}
  {% set form_kwargs = {} %}
  {% set legend = 'Add a new issue' %}
  {% set button = _('Add') %}
{% else %}
  {% set endpoint = 'admin.issues_edit' %}
  {% set form_kwargs = {'id': issue.id} %}
  {% set legend = 'Update this issue' %}
  {% set button = _('Save') %}
{% endif %}

<div class="row">
    <div class="col-md-8 col-md-offset-2 well">
      {% call f.form_tag(endpoint, **form_kwargs) %}
          <legend>{{ legend }}</legend>
          <label for="">Created on</label>
          <h5 class="margin-bottom text-muted">
              <time class="from-now"
                    data-datetime="{{ issue.created_on }}">
                {{ issue.created_on }}
              </time>
          </h5>

        {% call f.form_group(form.label, css_class='margin-bottom') %}
        {% endcall %}

        {% call f.form_group(form.email, css_class='margin-bottom',
                             placeholder='E-mail address') %}
        {% endcall %}

        {% call f.form_group(form.question, css_class='margin-bottom',
                             placeholder='The more we know, the easier it will be to help you',
                             rows='12') %}
        {% endcall %}

        {% call f.form_group(form.status) %}
        {% endcall %}

          <hr>
          <div class="row">
              <div class="col-md-6">
                  <button type="submit" class="btn btn-primary btn-block">
                    {{ button }}
                  </button>
              </div>
              <div class="col-md-6">
                  <div class="visible-xs visible-sm sm-margin-top"></div>
                  <a href="{{ url_for('admin.issues') }}"
                     class="btn btn-default btn-block">
                    {{ _('Cancel') }}
                  </a>
              </div>
          </div>
      {% endcall %}

      {% include 'admin/issue/_contact.jinja2' with context %}
        <hr>
        <h4><strong>Contact the person who issued this ticket</strong></h4>
        <div class="visible-xs visible-sm sm-margin-top"></div>
        <a href="#issues_contact" class="btn btn-info btn-block"
           data-toggle="modal" data-target="#issues_contact">
          {{ _('Contact') }}
        </a>

    </div>
</div>
