{% extends 'layouts/app.jinja2' %}
{% import 'macros/items.jinja2' as items %}
{% import 'macros/form.jinja2' as f with context %}
{% import 'issue/macros/issue.jinja2' as support with context %}

{% block title %}Admin - Issues / List{% endblock %}

{% block body %}
  {{ f.search('admin.issues') }}

  {% if issues.total == 0 %}
    <h3>No results found</h3>
    {% if request.args.get('q') %}
      <p>Try limiting or removing your search terms.</p>
    {% else %}
      <p>There are no issues present, that's a good thing.</p>
    {% endif %}
  {% else %}
    {% call f.form_tag('admin.issues_bulk_delete') %}
      <table class="table table-striped">
        <thead>
        <tr>
          <th>
            <label for="select_all"></label>
            <input id="select_all" name="select_all" type="checkbox">
          </th>
          <th class="col-header">
            {{ items.sort('status') }}
          </th>
          <th class="col-header">
            {{ items.sort('label') }}
          </th>
          <th class="col-header">
            {{ items.sort('created_on', 'Date') }}
          </th>
          <th class="col-header">
            {{ items.sort('email') }}
          </th>
          <th id="bulk_actions" colspan="4">
            <div class="form-inline">
              {{ f.field(bulk_form.scope, inline=True) }}
              <button type="submit"
                      class="btn btn-danger btn-sm">
                Delete items
              </button>
            </div>
          </th>
        </tr>
        </thead>
        <tbody>
        {% for issue in issues.items %}
          <tr class="{{ 'half-faded' if issue.status == 'closed' }}">
            <td>
              <label for="bulk_ids"></label>
              <input class="checkbox-item" id="bulk_ids" name="bulk_ids"
                     type="checkbox" value="{{ issue.id }}">
            </td>
            <td>{{ support.status_icon_for(issue.status) }}</td>
            <td>{{ support.label_tag_for(issue.label) }}</td>
            <td>
              <time class="from-now"
                    data-datetime="{{ issue.created_on }}">
                {{ issue.created_on }}
              </time>
            </td>
            <td>
              <a href="{{ url_for('admin.issues_edit', id=issue.id) }}">
                {{ issue.email }}
              </a>
            </td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    {% endcall %}

    {{ items.paginate(issues) }}
  {% endif %}
{% endblock %}

