#admin-topbar {
  padding: 5px;
  background-color: lighten($colorGrayKeyline, 5%);
  border-bottom: 1px solid darken($colorBlue, 10%);
}

.admin--table-label {
  display: inline;
  font-weight: 300;
}

.admin--table--sublabel {
  padding-top: 0;
}

.pagination-page-info {
    padding: .6em;
    padding-left: 0;
    width: 40em;
    margin: .5em;
    margin-left: 0;
    font-size: 12px;
}
.pagination-page-info b {
    color: black;
    background: #6aa6ed;
    padding: .1em .25em;
    font-size: 150%;
}