#coupon_code_status {
  display: none;
}

.coupon-code {
  padding: 20px;
  margin-bottom: 20px;
  border: 2px dashed $colorGrayKeyline;

  input {
    margin-bottom: 5px;
  }

  .alert--small {
    padding: 0;
    padding-left: 5px;
    padding-right: 5px;
  }
}

.payment-errors {
  display: none;
  margin-top: 30px;
  margin-bottom: 30px;
}

.cc-details {
  width: 75px;
}

a.pricing--primary {
  color: #fff;
}

a.pricing--secondary {
  color: $colorBlue;
}
