/* Typography
-------------------------------------------------- */
.small {
  font-size: 12px;
}

.strike {
  text-decoration: line-through;
}

/* Margin and padding
-------------------------------------------------- */
.sm-margin-bottom {
  margin-bottom: 25px;
}

.margin-bottom {
  margin-bottom: 40px;
}

.lg-margin-bottom {
  margin-bottom: 60px;
}

.sm-margin-top {
  margin-top: 25px;
}

.margin-top {
  margin-top: 40px;
}

/* Forms
-------------------------------------------------- */
.field-error {
  margin-top: 5px;
}

/* General
-------------------------------------------------- */
.spinner {
  display: none;
}

.scale-up {
  transform: scale(1.05);
}

.quarter-faded {
  opacity: 0.75;
}

.half-faded {
  opacity: 0.5;
}

.relative {
  position: relative;
}
