/* Sticky nav menu styles
-------------------------------------------------- */
body > .container {
  padding-top: 40px;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  // Padding for the fixed nav bar on top.
  padding-top: 50px;
  padding-bottom: 20px;

  // Margin equal to the sticky footer's height.
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding-top: 10px;
  border-top: 1px solid #e9e9e9;

  // Set the fixed height of the footer here.
  height: 60px;
}
