{% import 'macros/flash.html' as flash with context %}

<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description"
          content="{% block meta_description %}{% endblock %}">
    <meta name="csrf-token" content="{{ csrf_token() }}">

    <title>{% block title %}{% endblock %}</title>

    <link
      rel="stylesheet"
      href="{{ static_url_for('static', filename='css/app.css') }}">
    <script defer src="{{ static_url_for('static', filename='js/app.js') }}"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light mb-5">
      <div class="container">
        <a href="{{ url_for('page.home') }}">
          <img src="{{ static_url_for('static', filename='images/snake-eyes.jpg') }}"
               class="img-fluid"
               width="229" height="50" title="Snake Eyes" alt="Snake Eyes"/>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse"
                data-target="#navbarCollapse"
                aria-controls="navbarCollapse"
                aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </nav>

    <main class="container mb-5">
      {{ flash.render() }}
      {% block body %}{% endblock %}
    </main>

    <footer class="footer text-center">
      <div class="container">
        <ul class="list-inline">
          <li class="list-inline-item text-muted">Snake Eyes &copy; 2021</li>
          <li class="list-inline-item">
            <a href="{{ url_for('contact.index') }}">Contact</a>
          </li>
          <li class="list-inline-item">
            <a href="{{ url_for('page.privacy') }}">Privacy Policy</a>
          </li>
          <li class="list-inline-item">
            <a href="{{ url_for('page.terms') }}">Terms of Service</a>
          </li>
        </ul>
      </div>
    </footer>
  </body>
</html>
