{% extends 'layouts/app.jinja2' %}

{% block title %}See who's talking about cats{% endblock %}

{% block heading %}
    <h2 class="sm-margin-bottom">Real time tweets about cats</h2>
{% endblock %}

{% block body %}
    <script type="text/template" id="tweetTemplate">
        <div class="media margin-top panel">
            <div class="media-left">
                <i class="fa fa-fw fa-3x fa-twitter text-info"></i>
            </div>
            <div class="media-body">
                <h4 class="media-heading">@{0}</h4>
                <span class="text-muted">{1}</span>

                <p>{2}</p>
            </div>
        </div>
    </script>

    <p id="empty_stream">There is currently no activity.</p>
    <div id="broadcast"></div>
{% endblock %}
