<li><a href="{{ url_for('admin.dashboard') }}">Dashboard</a></li>
<li role="separator" class="divider"></li>
<li><a href="{{ url_for('admin.users') }}">Users</a></li>
<li><a href="{{ url_for('admin.issues') }}">Issues</a></li>
<li><a href="{{ url_for('admin.coupons') }}">Coupons</a></li>
