<div id="admin_topbar">
  <div class="container">
    <ul class="list--horizontal">
      <li><a href="{{ url_for('admin.dashboard') }}">dashboard</a></li>
      <li><a href="{{ url_for('admin.users') }}">users</a></li>
      <li><a href="{{ url_for('admin.issues') }}">issues</a></li>
      <li><a href="{{ url_for('admin.coupons') }}">coupons</a></li>
    </ul>
  </div>
</div>
