{% import 'macros/form.jinja2' as f with context %}

{% if request.endpoint.endswith('new') %}
  {% set endpoint = 'admin.users_new' %}
  {% set form_kwargs = {} %}
  {% set legend = 'Add a new user' %}
  {% set button = 'Add' %}
{% else %}
  {% set endpoint = 'admin.users_edit' %}
  {% set form_kwargs = {'id': user.id} %}
  {% set legend = 'Update this user' %}
  {% set button = 'Save' %}
{% endif %}

<div class="clear subsection-title">
  <div class="g--half">
    <div class="login--background">
      {% call f.form_tag(endpoint, class='clear', **form_kwargs) %}
        <legend class="centered large bottom-margin">{{ legend }}</legend>
        <label for="">Created on</label>
        <h5 class="bottom-margin">
          {{ user.created_on.strftime('%B %d, %Y %I:%M %p') }}
        </h5>

        <label for="">E-mail address</label>
        <h5 class="bottom-margin">{{ user.email }}</h5>

        {{ form.username.label }}
        {{ f.field(form.username, autofocus='autofocus') }}

        {{ form.name.label }}
        {{ f.field(form.name) }}

        {{ form.role.label }}
        {{ f.field(form.role) }}

        {{ f.field(form.active, inline=True) }}
        {{ form.active.label }}
        <hr>
        <div class="g--half">
          <button type="submit" class="full-width rounded button--primary">
            {{ button }}
          </button>
        </div>
        <div class="g--half g--last">
          <a href="{{ url_for('admin.users') }}"
             class="login--register full-width rounded button--secondary">
            Cancel
          </a>
        </div>
      {% endcall %}
    </div>
  </div>
  <div class="g--half g--last">
    <h3>Subscription details</h3>
    <dl>
      {% if user.subscription and user.credit_card %}
        <dt><strong>Plan</strong></dt>
        <dd class="no-margin bottom-margin">
          {{ user.subscription.plan | title }}
          {% if user.subscription.coupon %}
            <span class="small color--muted">
              (code: {{ user.subscription.coupon }})
            </span>
          {% endif %}
        </dd>
        <dt><strong>Credit card</strong></dt>
        <dd class="no-margin bottom-margin">
          {{ user.credit_card.brand }} ****{{ user.credit_card.last4 }}
          ({{ user.credit_card.exp_date.strftime('%m/%Y') }})
        </dd>
        {% call f.form_tag('admin.users_cancel_subscription', class='clear') %}
          <input type="hidden" id="id" name="id" value="{{ user.id }}"/>
          <button type="submit" class="rounded button--danger">
            Cancel subscription
          </button>
        {% endcall %}
      {% else %}
        <dt><strong>Cancelled on</strong></dt>
        <dd class="no-margin bottom-margin">{{ user.cancelled_subscription_on.strftime('%B %d, %Y %I:%M %p') if user.cancelled_subscription_on else 'None' }}</dd>
      {% endif %}
    </dl>
    <h3>Login activity</h3>
    <dl>
      <dt><strong>Sign in count</strong></dt>
      <dd class="no-margin bottom-margin">{{ user.sign_in_count }}</dd>
      <dt><strong>Current sign in date</strong></dt>
      <dd class="no-margin bottom-margin">{{ user.current_sign_in_on.strftime('%B %d, %Y %I:%M %p') if user.current_sign_in_on else 'None' }}</dd>
      <dt><strong>Current sign in IP address</strong></dt>
      <dd class="no-margin bottom-margin">{{ user.current_sign_in_ip }}</dd>
      <dt><strong>Previous sign in date</strong></dt>
      <dd class="no-margin bottom-margin">{{ user.last_sign_in_on.strftime('%B %d, %Y %I:%M %p') if user.last_sign_in_on else 'None' }}</dd>
      <dt><strong>Previous sign in IP address</strong></dt>
      <dd class="no-margin bottom-margin">{{ user.last_sign_in_ip }}</dd>
    </dl>
  </div>
</div>
