{% import 'macros/form.jinja2' as f with context %}

{% if request.endpoint.endswith('new') %}
  {% set endpoint = 'admin.users_new' %}
  {% set form_kwargs = {} %}
  {% set legend = 'Add a new user' %}
  {% set button = _('Add') %}
{% else %}
  {% set endpoint = 'admin.users_edit' %}
  {% set form_kwargs = {'id': user.id} %}
  {% set legend = 'Update this user' %}
  {% set button = _('Save') %}
{% endif %}

<div class="row">
    <div class="col-md-5 well">
      {% call f.form_tag(endpoint, **form_kwargs) %}
          <legend>{{ legend }}</legend>
          <label for="">Created on</label>
          <h5 class="sm-margin-bottom">
              <time class="from-now"
                    data-datetime="{{ user.created_on }}">
                {{ user.created_on }}
              </time>
          </h5>
          <label for="">E-mail address</label>
          <h5 class="sm-margin-bottom text-muted">
            {{ user.email }}
          </h5>

        {% call f.form_group(form.username, css_class='sm-margin-bottom',
                           autofocus='autofocus') %}
        {% endcall %}

        {% call f.form_group(form.name, css_class='sm-margin-bottom') %}
        {% endcall %}

        {% call f.form_group(form.locale, css_class='sm-margin-bottom') %}
        {% endcall %}

        {% call f.form_group(form.role, css_class='sm-margin-bottom') %}
        {% endcall %}

        {% call f.form_group(form.active) %}
        {% endcall %}

          <hr>
          <div class="row">
              <div class="col-md-6">
                  <button type="submit" class="btn btn-primary btn-block">
                    {{ button }}
                  </button>
              </div>
              <div class="col-md-6">
                  <div class="visible-xs visible-sm sm-margin-top"></div>
                  <a href="{{ url_for('admin.users') }}"
                     class="btn btn-default btn-block">
                      {{ _('Cancel') }}
                  </a>
              </div>
          </div>
      {% endcall %}
    </div>
    <div class="col-md-5 col-md-push-1 col-md-offset-1">
        <h3>Subscription details</h3>

        <div class="panel panel-default">
            <div class="panel-body">
                <dl>
                  {% if user.subscription and user.credit_card %}
                      <dt>Plan</dt>
                      <dd class="sm-margin-bottom">
                        {{ user.subscription.plan | title }}
                        {% if user.subscription.coupon %}
                            <span class="small text-muted">
                                (code: {{ user.subscription.coupon }})
                            </span>
                        {% endif %}
                      </dd>
                      <dt>Credit card</dt>
                      <dd class="sm-margin-bottom">
                        {{ user.credit_card.brand }}
                          ****{{ user.credit_card.last4 }}
                          ({{ user.credit_card.exp_date.strftime('%m/%Y') }})
                      </dd>
                    {% call f.form_tag('admin.users_cancel_subscription') %}
                        <input type="hidden" id="id" name="id"
                               value="{{ user.id }}"/>
                        <button type="submit" class="btn btn-danger">
                            <img src="{{ asset_url_for('images/spinner.gif') }}"
                                 class="spinner"
                                 width="16" height="11" alt="Spinner"/>
                            {{ _('Cancel subscription') }}
                        </button>
                    {% endcall %}
                  {% else %}
                      <dt>Cancelled on</dt>
                      <dd>
                        {% if user.cancelled_subscription_on %}
                            <time class="from-now"
                                  data-datetime="{{ user.cancelled_subscription_on }}">
                              {{ user.cancelled_subscription_on }}
                            </time>
                        {% endif %}
                      </dd>
                  {% endif %}
                </dl>
            </div>
        </div>
        <h3>Login activity</h3>

        <div class="panel panel-default">
            <div class="panel-body">
                <dl>
                    <dt>Sign in count</dt>
                    <dd class="sm-margin-bottom">{{ user.sign_in_count }}</dd>
                    <dt>Current sign in date</dt>
                    <dd class="sm-margin-bottom">
                      {% if user.current_sign_in_on %}
                          <time class="from-now"
                                data-datetime="{{ user.current_sign_in_on }}">
                            {{ user.current_sign_in_on }}
                          </time>
                      {% endif %}
                    </dd>
                    <dt>Current sign in IP address</dt>
                    <dd class="sm-margin-bottom">{{ user.current_sign_in_ip }}</dd>
                    <dt>Previous sign in date</dt>
                    <dd class="sm-margin-bottom">
                      {% if user.last_sign_in_on %}
                          <time class="from-now"
                                data-datetime="{{ user.last_sign_in_on }}">
                            {{ user.last_sign_in_on }}
                          </time>
                      {% endif %}
                    </dd>
                    <dt>Previous sign in IP address</dt>
                    <dd>{{ user.last_sign_in_ip }}</dd>
                </dl>
            </div>
        </div>
    </div>
</div>
