{% extends 'layouts/app.jinja2' %}
{% import 'macros/forms.jinja2' as field %}

{% block title %}Let's remedy any issues you may have{% endblock %}

{% block body %}
  <div class="g--2 g--centered subsection-title">
    <div class="login--background">
      <form method="post" action="{{ url_for('issue.support') }}"
            class="clear">
        <legend class="centered medium bottom-margin">We're here to help
        </legend>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ form.label.label }}
        {{ field.with_errors(form.label) }}

        {{ form.email.label }}
        {{ field.with_errors(form.email, placeholder='Email') }}

        {{ form.question.label }}
        {{ field.with_errors(form.question, placeholder='The more we know, the easier it will be to help you', rows='12') }}

        <div class="g--half">
          <button type="submit" class="full-width rounded button--primary">
            Submit this support request
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}