{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Let's remedy any issues you may have{% endblock %}

{% block body %}
  <div class="g--2 g--centered subsection-title">
    <div class="login--background">
      {% call f.form_tag('issue.support', class='clear') %}
        <legend class="centered medium bottom-margin">We're here to help
        </legend>
        {{ form.label.label }}
        {{ f.field(form.label) }}

        {{ form.email.label }}
        {{ f.field(form.email, placeholder='Email') }}

        {{ form.question.label }}
        {{ f.field(form.question, placeholder='The more we know, the easier it will be to help you', rows='12') }}

        <div class="g--half">
          <button type="submit" class="full-width rounded button--primary">
            Submit this support request
          </button>
        </div>
      {% endcall %}
    </div>
  </div>
{% endblock %}