{% macro card_expiring_warning() -%}
  {% if current_user.is_authenticated() and current_user.subscription and current_user.credit_card.is_expiring %}
      <div class="alert alert-warning" role="alert">
          <div class="container">
              Your credit card is going to expire soon, <a
                  href="{{ url_for('billing.update_payment_method') }}">please
              update
              it</a>.
          </div>
      </div>
  {% endif %}
{%- endmacro %}


{% macro plan(plan) -%}
    <div class="col-md-4{{ ' scale-up' if plan.metadata and plan.metadata.recommended }} {{ ' quarter-faded' if (plan.metadata == undefined) or (plan.metadata and not plan.metadata.recommended) }}">
        <div
                class="panel panel-default{{ ' panel-info' if plan.metadata and plan.metadata.recommended }}">
            <div class="panel-heading"><h3>{{ plan.name }}</h3></div>
            <div class="panel-body">
              {{ caller () }}

              {% if current_user.is_authenticated() %}
                {% if current_user.subscription %}
                  {% if plan == active_plan %}
                      <strong class="btn btn-default btn-lg btn-block">
                          {{ _('Current plan') }}
                      </strong>
                  {% else %}
                      <button id="submit_{{ plan.id }}"
                              name="submit_{{ plan.id }}"
                              class="btn btn-primary btn-lg btn-block">
                          <img src="{{ asset_url_for('images/spinner.gif') }}"
                               class="spinner"
                               width="16" height="11" alt="Spinner"/>
                          {{ _('Change plan') }}
                      </button>
                  {% endif %}
                {% else %}
                    <a href="{{ url_for('billing.create', plan=plan.id) }}"
                       class="btn btn-primary btn-lg btn-block">Continue</a>
                {% endif %}
              {% else %}
                  <a href="{{ url_for('user.signup') }}"
                     class="btn btn-primary btn-lg btn-block">
                      {{ _('Sign up') }}
                  </a>
              {% endif %}

                <p class="small text-muted sm-margin-top">
                    ${{ plan.amount | format_currency }} / {{ plan.interval }}
                </p>
            </div>
        </div>
    </div>
{%- endmacro %}


{% macro coupon_data(coupon) -%}
  {% if coupon.amount_off %}
    {% set discount = '$' + coupon.amount_off | format_currency %}
  {% else %}
    {% set discount = coupon.percent_off | string + '%' %}
  {% endif %}
  {% if coupon.duration == 'forever' %}
    {% set label = 'It is saving you ' + discount + ' per month forever.' %}
  {% elif coupon.duration == 'once' %}
    {% set label = 'It saved you ' + discount + ' this month.' %}
  {% else %}
    {% set label = 'It is saving you ' + discount + ' for the next ' + coupon.duration_in_months | string + ' months.' %}
  {% endif %}

  {{ label }}
{%- endmacro %}


{% macro coupon_duration_tag_for(coupon) -%}
  {% if coupon.duration == 'forever' %}
      <span class="label label-success">Forever</span>
  {% elif coupon.duration == 'once' %}
      <span class="label label-warning">Once</span>
  {% else %}
      <span class="label label-info">
      {{ coupon.duration_in_months }} months
    </span>
  {% endif %}
{% endmacro %}


{% macro coupon_expiration(coupon) -%}
  {% if coupon.redeem_by %}
      <time class="from-now"
            data-datetime="{{ coupon.redeem_by }}">
        {{ coupon.redeem_by }}
      </time>
  {% elif coupon.duration_in_months %}
    &mdash;
  {% else %}
    Never
  {% endif %}
{% endmacro %}


{% macro coupon_redeemed(times_redeemed, max_redemptions) -%}
  {% set total = max_redemptions if max_redemptions else '&infin;' %}
  {{ times_redeemed }} / {{ total }}
{% endmacro %}


{% macro coupon_discount(amount_off, percent_off) -%}
  {% if amount_off %}
    ${{ amount_off | format_currency }}
  {% else %}
    {{ percent_off }}%
  {% endif %}
{% endmacro %}
