{% macro plan(plan, last=False) -%}
  <div
      class="g--third{{ ' g--last' if last }} login--background{{ ' scale-up' if plan.metadata and plan.metadata.recommended }} {{ ' half-faded' if (plan.metadata == undefined) or (plan.metadata and not plan.metadata.recommended) }}">
    <h3 class="text-divider{{ ' color--blue' if plan.metadata and plan.metadata.recommended }}">{{ plan.name }}</h3>
    {{ caller () }}
    {% if current_user.is_authenticated() %}
      {% if current_user.subscription %}
        {% if plan == active_plan %}
          <strong class="button--secondary pricing--secondary">Current
            plan</strong>
        {% else %}
          <button id="submit_{{ plan.id }}" name="submit_{{ plan.id }}"
             class="button--primary pricing--primary">Change plan</button>
        {% endif %}
      {% else %}
        <a href="{{ url_for('billing.create', plan=plan.id) }}"
           class="button--primary pricing--primary">Continue</a>
      {% endif %}
    {% else %}
      <a href="{{ url_for('user.signup') }}"
         class="button--primary pricing--primary">Sign up</a>
    {% endif %}

    <p class="small color--muted">${{ plan.amount | format_currency }}
      / {{ plan.interval }}</p>
  </div>
{%- endmacro %}

{% macro coupon_data(coupon) -%}
  {% if coupon.amount_off %}
    {% set discount = '$' + coupon.amount_off | format_currency %}
  {% else %}
    {% set discount = coupon.percent_off | string + '%' %}
  {% endif %}
  {% if coupon.duration == 'forever' %}
    {% set label = 'It is saving you ' + discount + ' per month forever.' %}
  {% elif coupon.duration == 'once' %}
    {% set label = 'It saved you ' + discount + ' this month.' %}
  {% else %}
    {% set label = 'It is saving you ' + discount + ' for the next ' + coupon.duration_in_months | string + ' months.' %}
  {% endif %}

  {{ label }}
{%- endmacro %}
