{% macro plan(plan, last=False) -%}
  <div
      class="g--third{{ ' g--last' if last }} login--background{{ ' scale-up' if plan.metadata and plan.metadata.recommended }} {{ ' half-faded' if (plan.metadata == undefined) or (plan.metadata and not plan.metadata.recommended) }}">
    <h3 class="text-divider{{ ' color--blue' if plan.metadata and plan.metadata.recommended }}">{{ plan.name }}</h3>
    {{ caller () }}
    {% if current_user.is_authenticated() %}
      <a href="{{ url_for('billing.process', plan=plan.id) }}"
         class="button--primary pricing--primary">Continue</a>
    {% else %}
      <a href="{{ url_for('user.signup') }}"
         class="button--primary pricing--primary">Sign up</a>
    {% endif %}

    <p class="small color--muted">${{ plan.amount | format_currency }}
      / {{ plan.interval }}</p>
  </div>
{% endmacro %}