{% macro status_icon_for(status) -%}
  {% if status == 'unread' %}
    <i class="fa fa-2x fa-fw fa-exclamation" title="Unread"></i>
  {% elif status == 'open' %}
    <i class="fa fa-2x fa-fw fa-ticket" title="Open"></i>
  {% elif status == 'contacted' %}
    <i class="fa fa-2x fa-fw fa-mail-reply" title="Contacted"></i>
  {% else %}
    <i class="fa fa-2x fa-fw fa-smile-o" title="Closed"></i>
  {% endif %}
{% endmacro %}

{% macro label_tag_for(label) -%}
  {% if label == 'login' %}
    <span class="alert--info alert--small"
          title="{{ LABEL[label] }}">Login</span>
  {% elif label == 'signup' %}
    <span class="alert--error alert--small"
          title="{{ LABEL[label] }}">Sign up</span>
  {% elif label == 'billing' %}
    <span class="alert--success alert--small" title="{{ LABEL[label] }}">Billing</span>
  {% elif label == 'email' %}
    <span class="alert--warn alert--small"
          title="{{ LABEL[label] }}">E-mail</span>
  {% elif label == 'request' %}
    <span class="alert--interesting alert--small" title="{{ LABEL[label] }}">Request</span>
  {% else %}
    <span class="alert alert--small" title="{{ LABEL[label] }}">Other</span>
  {% endif %}
{% endmacro %}