{% extends 'layouts/base.jinja2' %}

{% block header %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                        data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="{{ url_for('page.home') }}">
                    <img src="{{ asset_url_for('images/cat-watch.png') }}"
                         class="img-responsive"
                         width="229" height="50" title="Cat Watch"
                         alt="Cat Watch"/>
                </a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                  {% if current_user.is_authenticated() and current_user.subscription %}
                      <li><a href="{{ url_for('stream.live_stream') }}">Live
                          stream</a>
                      </li>
                  {% else %}
                      <li><a href="{{ url_for('page.learn_more') }}">Learn
                          more</a></li>
                      <li>
                          <a href="{{ url_for('billing.pricing') }}">Pricing</a>
                      </li>
                  {% endif %}
                </ul>
                <ul class="nav navbar-nav navbar-right">
                  {% if current_user.role == 'admin' %}
                      <li data-toggle="tooltip" title="foo">
                        {% include 'admin/_menu.jinja2' %}
                      </li>
                  {% endif %}
                  {% if current_user.is_authenticated() %}
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle"
                             data-toggle="dropdown"
                             role="button" aria-haspopup="true"
                             aria-expanded="false">Account
                              <span class="caret"></span></a>
                          <ul class="dropdown-menu">
                              <li><a href="{{ url_for('user.settings') }}">Settings</a>
                              </li>
                              <li role="separator" class="divider"></li>
                              <li class="dropdown-header">Session</li>
                              <li><a href="{{ url_for('user.logout') }}">Log
                                  out</a></li>
                          </ul>
                      </li>
                  {% else %}
                      <li><a href="{{ url_for('user.login') }}">Log in</a></li>
                      <li><a href="{{ url_for('user.signup') }}">Sign up</a>
                      </li>
                  {% endif %}
                </ul>
            </div>
        </div>
    </nav>
{% endblock %}

{% block footer %}
    <li><a href="{{ url_for('page.faq') }}">FAQ</a></li>
    <li><a href="{{ url_for('issue.support') }}">Support</a></li>
    <li><a href="{{ url_for('page.privacy') }}">Privacy policy</a></li>
    <li><a href="{{ url_for('page.terms') }}">Terms of service</a></li>
{% endblock %}
