{% import 'macros/layout/meta_tags.jinja2' as meta_tags %}
{% import 'macros/layout/fav_icons.jinja2' as fav_icons %}
{% import 'macros/layout/assets.jinja2' as assets with context %}
{% import 'macros/layout/analytics.jinja2' as analytics with context %}
{% import 'billing/macros/billing.jinja2' as billing with context %}
{% import 'macros/layout/flash.jinja2' as flash with context %}

<!doctype html>
<html lang="">
<head>
    <title>{% block title %}{% endblock %}</title>
  {{ meta_tags.render(csrf_token()) }}
  {{ fav_icons.render(self.title()) }}

  {{ assets.render() }}
  {{ assets.polyfills() }}

  {{ analytics.google_ua() }}
</head>
<body{{ ' data-locale="' + current_user.locale + '"' if current_user.is_authenticated() }}>
{% block header %}{% endblock %}

{{ billing.card_expiring_warning() }}

{% block hero %}{% endblock %}

<main class="container">
  {{ flash.render() }}

  {% block heading %}{% endblock %}
  {% block body %}{% endblock %}
</main>

<footer class="footer text-center">
    <div class="container">
        <ul class="list-inline">
            <li class="text-muted">{{ _('Cat watch') }} &copy; 2015</li>
            {% block footer %}{% endblock %}
        </ul>
    </div>
</footer>

{{ javascript_tag('vendor_js', 'app_js') | safe }}
</body>
</html>
