{% extends 'layouts/base.jinja2' %}

{% block heading %}
  <h2 class="bottom-margin centered">
    <a href="{{ url_for('page.home') }}" class="login--header">
      {{ _('Cat watch') }}
    </a>
  </h2>
{% endblock %}

{% block footer %}
  <li><a href="{{ url_for('issue.support') }}">Help</a></li>
  <li><a href="{{ url_for('user.signup') }}">Sign up today</a></li>
{% endblock %}
