{# Render a form field's label with visual aid to see if it's required. #}
{%- macro field_label(field) -%}
    <label for="{{ field.id }}">
      {%- if field.flags.required -%}
          <strong>{{ field.label.text }}</strong>
      {%- else %}
        {{ field.label.text }}
      {%- endif %}
    </label>
{%- endmacro -%}


{# Render a form field's errors. #}
{%- macro field_errors(f) -%}
  {% if f.errors %}
      <ul class="list-unstyled text-danger field-error">
        {% for error in f.errors %}
            <li>{{ error | e }}</li>
        {% endfor %}
      </ul>
  {% endif %}
{%- endmacro -%}


{# Render a form field. #}
{%- macro field(f, css_class='form-control') -%}
  {{ f(class=css_class, **kwargs) }}
{%- endmacro -%}


{# Render a checkbox field. #}
{%- macro checkbox_field(f) -%}
  {{ f(type='checkbox', **kwargs) }} {{ f.label }}
{%- endmacro -%}


{# Render a Bootstrap 3 form group with errors for various field types. #}
{%- macro form_group(f, css_class='') -%}
  {% if f.errors %}
    {% set css_class = css_class + ' has-error ' + kwargs.pop('class', '') %}
  {% endif %}

  {% if f.type == 'BooleanField' %}
      <div class="checkbox {{ css_class }}">
    {{ checkbox_field(f, **kwargs) }}
  {% else %}
      <div class="form-group {{ css_class }}">
    {{ field_label(f) }}
    {{ field(f, **kwargs) }}
  {% endif %}
{{ field_errors(f) }}
{{ caller () }}
</div>
{%- endmacro %}


{# Render a form tag that contains a CSRF token and all hidden fields, it also
   properly supports all HTTP version, simply pass in method='delete', etc.. #}
{%- macro form_tag(endpoint, fid='', class='', method='post') -%}
  {% set method = method | lower %}
  {% set browser_method = 'post' %}
  {% set real_method = 'post' %}

  {% if method == 'get' %}
    {% set browser_method = 'get' %}
    {% set real_method = 'get' %}
  {% elif method not in ('get', 'post') %}
    {% set browser_method = 'post' %}
    {% set real_method = method %}
  {% endif %}

    <form action="{{ url_for(endpoint, __method__=real_method, **kwargs) }}"
          method="{{ browser_method }}"
          id="{{ fid }}" class="{{ class }}" role="form">
      {{ form.hidden_tag() }}
      {{ caller () }}
    </form>
{%- endmacro -%}


{# Render a form for searching. #}
{%- macro search(endpoint) -%}
  {% call form_tag(endpoint, class='top-margin', method='get') %}
      <label for="q"></label>
      <div class="input-group sm-margin-bottom">
          <input type="text" class="form-control"
                 id="q" name="q" value="{{ request.args.get('q', '') }}"
                 placeholder="Search by typing, then press enter...">
      <span class="input-group-addon">
        <i class="fa fa-fw fa-search"></i>
      </span>
      </div>
  {% endcall %}
{%- endmacro -%}
