{% macro field(field, inline=False) -%}
  {% if inline %}
    {% set class = 'inline' %}
  {% else %}
    {% set class = '' %}
  {% endif %}

  <div class="form-field {{ class }}">
    {% if field.errors %}
      {% set css_class = 'has-error ' + kwargs.pop('class', '') %}
      {{ field(class=css_class, **kwargs) }}
      <ul class="form-errors list--reset list-small">
        {% for error in field.errors %}
          <li>{{ error | e }}</li>
        {% endfor %}
      </ul>
    {% else %}
      {{ field(**kwargs) }}
    {% endif %}
  </div>
{%- endmacro %}

{% macro form_tag(endpoint, fid='', class='', method='post') -%}
  <form action="{{ url_for(endpoint, **kwargs) }}" method="{{ method }}"
        id="{{ fid }}" class="{{ class }}" role="form">
    {{ form.hidden_tag() }}
    {{ caller () }}
  </form>
{%- endmacro %}

{% macro search(endpoint) -%}
  {% call form_tag(endpoint, class='top-margin', method='get') %}
    <label for="q"></label>
    <input type="text"
           id="q" name="q" value="{{ request.args.get('q', '') }}"
           placeholder="Search by typing, then press enter...">
  {% endcall %}
{%- endmacro %}
