{% macro sort(field, name=None) -%}
  {% set sort = request.args.get('sort', None) %}
  {% set direction = request.args.get('direction', 'asc') %}
  {% set q = request.args.get('q', '') %}

  {% if name == None %}
    {% set label = field | title %}
  {% else %}
    {% set label = name %}
  {% endif %}

  {% if sort == field and direction == 'asc' %}
    {% set direction = 'desc' %}
  {% else %}
    {% set direction = 'asc' %}
  {% endif %}

  {% if sort == field %}
    {% set css = direction %}
  {% else %}
    {% set css = 'sort' %}
  {% endif %}

  <a class="{{ css }}" href="{{ url_for(request.endpoint,
                                        q=q,
                                        sort=field,
                                        direction=direction,
                                        **request.view_args) }}">{{ label }}</a>
{%- endmacro %}


{% macro paginate(pagination) -%}
  {% set args = request.args %}

  <ul class="pagination list--reset">
    {% if pagination.page != 1 %}
      <li>
        <a href="{{ url_for(request.endpoint, page=1, **args) }}">First &laquo;</a>
      </li>
    {% endif %}
    {% if pagination.has_prev %}
      <li>
        <a href="{{ url_for(request.endpoint, page=pagination.page - 1, **args) }}">Prev</a>
      </li>
    {% endif %}
    {%- for page in pagination.iter_pages() %}
      <li>
        {% if page %}
          {% if page != pagination.page %}
            <a href="{{ url_for(request.endpoint, page=page, **args) }}">{{ page }}</a>
          {% else %}
            <strong class="color--muted">{{ page }}</strong>
          {% endif %}
        {% else %}
          <span class="ellipsis">…</span>
        {% endif %}
      </li>
    {%- endfor %}
    {% if pagination.has_next %}
      <li>
        <a href="{{ url_for(request.endpoint, page=pagination.page + 1, **args) }}">Next</a>
      </li>
    {% endif %}
    {% if pagination.page != pagination.pages %}
      <li>
        <a href="{{ url_for(request.endpoint, page=pagination.pages, **args) }}">Last &raquo;</a>
      </li>
    {% endif %}
  </ul>
{%- endmacro %}