{% macro role_icon_for(user) -%}
  {% if user.role == 'admin' %}
      <i class="fa fa-3x fa-fw fa-shield text-info" title="Admin"></i>
  {% elif user.role == 'member' %}
    {% if user.subscription %}
        <i class="fa fa-3x fa-fw fa-star text-warning" title="Paid member"></i>
    {% else %}
        <i class="fa fa-3x fa-fw fa-user text-muted" title="Member"></i>
    {% endif %}
  {% else %}
      <i class="fa fa-3x fa-fw" title="Guest"></i>
  {% endif %}
{% endmacro %}
