{% extends 'layouts/app.jinja2' %}

{% block title %}Looking for answers to common questions?{% endblock %}
{% block meta_description %}It's not easy to figure out what this site really
  does. This will help explain everything, trust me.{% endblock %}

{% block heading %}
    <h2>Frequently asked questions</h2>
{% endblock %}

{% block body %}
    <div class="well margin-bottom">
        <a href="{{ url_for('issue.support') }}">Contact support</a> if you are
        still having issues.
    </div>

    <h3>Questions</h3>

    <div class="list-group lg-margin-bottom">
        <a class="list-group-item" href="#faq-1">Lorem ipsum dolor sit
            amet?</a>
        <a class="list-group-item" href="#faq-2">Dicta optio cumque dolore
            hic eafacilis?</a>
        <a class="list-group-item" href="#faq-3">Minus, possimus, veniam,
            incidunt eligendi?</a>
        <a class="list-group-item" href="#faq-4">Lorem ipsum dolor sit
            amet?</a>
        <a class="list-group-item" href="#faq-5">Dicta optio cumque dolore
            hic ea facilis?</a>
        <a class="list-group-item" href="#faq-6">Minus, possimus, veniam,
            incidunt eligendi?</a>
    </div>

    <div class="panel panel-default margin-bottom">
        <div class="panel-heading">
            <a name="faq-1"></a>
            Lorem ipsum dolor sit amet?
        </div>
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Commodi
                dolore doloremque dolorum, ducimus est et, eveniet excepturi
                iste
                iure
                non nulla perferendis provident quasi, qui recusandae
                reiciendis
                repudiandae saepe unde.</p>
        </div>
    </div>

    <div class="panel panel-default margin-bottom">
        <div class="panel-heading">
            <a name="faq-2"></a>
            Dicta optio cumque dolore hic eafacilis?
        </div>
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Commodi
                dolore doloremque dolorum, ducimus est et, eveniet excepturi
                iste
                iure
                non nulla perferendis provident quasi, qui recusandae
                reiciendis
                repudiandae saepe unde.</p>
        </div>
    </div>

    <div class="panel panel-default margin-bottom">
        <div class="panel-heading">
            <a name="faq-3"></a>
            Lorem ipsum dolor sitamet?
        </div>
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Commodi
                dolore doloremque dolorum, ducimus est et, eveniet excepturi
                iste
                iure
                non nulla perferendis provident quasi, qui recusandae
                reiciendis
                repudiandae saepe unde.</p>
        </div>
    </div>

    <div class="panel panel-default margin-bottom">
        <div class="panel-heading">
            <a name="faq-4"></a>
            Lorem ipsum dolor sit amet?
        </div>
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Commodi
                dolore doloremque dolorum, ducimus est et, eveniet excepturi
                iste
                iure
                non nulla perferendis provident quasi, qui recusandae
                reiciendis
                repudiandae saepe unde.</p>
        </div>
    </div>

    <div class="panel panel-default margin-bottom">
        <div class="panel-heading">
            <a name="faq-5"></a>
            Dicta optio cumque dolorehic ea facilis?
        </div>
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Commodi
                dolore doloremque dolorum, ducimus est et, eveniet excepturi
                iste
                iure
                non nulla perferendis provident quasi, qui recusandae
                reiciendis
                repudiandae saepe unde.</p>
        </div>
    </div>

    <div class="panel panel-default margin-bottom">
        <div class="panel-heading">
            <a name="faq-6"></a>
            Minus, possimus, veniam, incidunt eligendi?
        </div>
        <div class="panel-body">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Commodi
                dolore doloremque dolorum, ducimus est et, eveniet excepturi
                iste
                iure
                non nulla perferendis provident quasi, qui recusandae
                reiciendis
                repudiandae saepe unde.</p>
        </div>
    </div>
{% endblock %}
