{% extends 'layouts/app.jinja2' %}

{% block title %}Looking for answers to common questions?{% endblock %}
{% block heading %}
  <h2>Frequently asked questions</h2>
{% endblock %}

{% block body %}
  <section class="styleguide__editorial-header">
    <div class="editorial-header">
      <p class="editorial-header__excerpt g-wide--pull-1">
        <a href="#">Contact support</a> if you are still having issues.
      </p>

      <div class="toc">
        <p class="toc__title"><strong>Questions</strong></p>
        <ul class="toc__list list-anchor" id="toc">
          <li><a href="#faq-1">Lorem ipsum dolor sit amet?</a></li>
          <li><a href="#faq-2">Dicta optio cumque dolore hic eafacilis?</a></li>
          <li><a href="#faq-3">Minus, possimus, veniam, incidunt eligendi?</a>
          </li>
          <li><a href="#faq-4">Lorem ipsum dolor sit amet?</a></li>
          <li><a href="#faq-5">Dicta optio cumque dolore hic ea facilis?</a>
          </li>
          <li><a href="#faq-6">Minus, possimus, veniam, incidunt eligendi?</a>
          </li>
        </ul>
      </div>

      <div class="faq-item xl-bottom-margin">
        <a name="faq-1"></a>

        <h3>Lorem ipsum dolor sit amet?</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
          dolore doloremque dolorum, ducimus est et, eveniet excepturi iste iure
          non nulla perferendis provident quasi, qui recusandae reiciendis
          repudiandae saepe unde.</p>
      </div>

      <div class="faq-item xl-bottom-margin">
        <a name="faq-2"></a>

        <h3>Dicta optio cumque dolore hic eafacilis?</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
          dolore doloremque dolorum, ducimus est et, eveniet excepturi iste iure
          non nulla perferendis provident quasi, qui recusandae reiciendis
          repudiandae saepe unde.</p>
      </div>

      <div class="faq-item xl-bottom-margin">
        <a name="faq-3"></a>

        <h3>Minus, possimus, veniam, incidunt eligendi?</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
          dolore doloremque dolorum, ducimus est et, eveniet excepturi iste iure
          non nulla perferendis provident quasi, qui recusandae reiciendis
          repudiandae saepe unde.</p>
      </div>

      <div class="faq-item xl-bottom-margin">
        <a name="faq-4"></a>

        <h3>Lorem ipsum dolor sit amet?</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
          dolore doloremque dolorum, ducimus est et, eveniet excepturi iste iure
          non nulla perferendis provident quasi, qui recusandae reiciendis
          repudiandae saepe unde.</p>
      </div>

      <div class="faq-item xl-bottom-margin">
        <a name="faq-5"></a>

        <h3>Dicta optio cumque dolore hic ea facilis?</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
          dolore doloremque dolorum, ducimus est et, eveniet excepturi iste iure
          non nulla perferendis provident quasi, qui recusandae reiciendis
          repudiandae saepe unde.</p>
      </div>

      <div class="faq-item">
        <a name="faq-6"></a>

        <h3>Minus, possimus, veniam, incidunt eligendi?</h3>

        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi
          dolore doloremque dolorum, ducimus est et, eveniet excepturi iste iure
          non nulla perferendis provident quasi, qui recusandae reiciendis
          repudiandae saepe unde.</p>
      </div>

    </div>
  </section>
{% endblock %}