{% extends 'layouts/app.jinja2' %}

{% block title %}Your one stop cat stream tweeting service{% endblock %}
{% block meta_description %}This one is your one stop source for obtaining
  information about absolutely nothing.{% endblock %}

{% block heading %}
    <h2 class="margin-bottom">Hi, I heard you like cats</h2>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <p>What's going to
                happen here is, I'm going to ramble about absolutely nothing
                and you will continue to read.</p>

            <p>It's mind boggling isn't it? I mean, you already
                know I'm writing content that has absolutely no value
                whatsoever but
                you
                simply cannot stop reading. Trust me, I'm pretty surprised
                too.</p>

            <hr/>
            <a href="{{ url_for('user.signup') }}"
               class="btn btn-default btn-lg">Hurrrrrry and sign up</a>
        </div>
        <div class="col-md-6">
            <div class="visible-xs visible-sm margin-top"></div>
            <p><strong>Browse our knowledge base</strong></p>
            <ol>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Dicta optio cumque dolore hic eafacilis</a>
                </li>
                <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a>
                </li>
                <li><a href="#">Lorem ipsum dolor sit amet</a></li>
                <li><a href="#">Dicta optio cumque dolore hic ea facilis</a>
                </li>
                <li><a href="#">Minus, possimus, veniam, incidunt eligendi</a>
                </li>
            </ol>
        </div>
    </div>
{% endblock %}
