{% extends 'layouts/login.jinja2' %}
{% import 'macros/forms.jinja2' as field %}

{% block title %}Reset your password{% endblock %}

{% block body %}
  <div class="g--half g--centered">
    <div class="login--background">
      <form method="post" action="{{ url_for('user.begin_password_reset') }}"
            class="clear">
        <legend class="centered medium">Reset your password</legend>
        <p class="small color--muted bottom-margin">
          We'll send you an email to reset your password.
        </p>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        {{ field.with_errors(form.identity, placeholder='Email or username', autofocus='autofocus') }}

        <div class="g--half">
          <button type="submit" class="full-width rounded button--primary">
            Continue
          </button>
        </div>
        <div class="g--half g--last">
          <a href="{{ url_for('user.login') }}"
             class="login--register full-width rounded button--secondary">
            Back to log in
          </a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}