{% extends 'layouts/login.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Reset your password{% endblock %}

{% block body %}
  <div class="g--half g--centered">
    <div class="login--background">
      {% call f.form_tag('user.begin_password_reset', class='clear') %}
        <legend class="centered medium">Reset your password</legend>
        <p class="small color--muted bottom-margin">
          We'll send you an email to reset your password.
        </p>
        {{ f.field(form.identity, placeholder='Email or username',
                   autofocus='autofocus') }}

        <div class="g--half">
          <button type="submit" class="full-width rounded button--primary">
            Continue
          </button>
        </div>
        <div class="g--half g--last">
          <a href="{{ url_for('user.login') }}"
             class="login--register full-width rounded button--secondary">
            Back to log in
          </a>
        </div>
      {% endcall %}
    </div>
  </div>
{% endblock %}