{% extends 'layouts/login.jinja2' %}
{% import 'macros/forms.jinja2' as field %}

{% block title %}Enter a new password{% endblock %}

{% block body %}
  <div class="g--half g--centered">
    <div class="login--background">
      <form method="post" action="{{ url_for('user.password_reset') }}"
            class="clear">
        <legend class="centered medium bottom-margin">Enter a new password
        </legend>
        {{ form.csrf_token }}
        {{ form.reset_token }}
        {{ form.hidden_tag() }}
        {{ field.with_errors(form.password, placeholder='Password', autofocus='autofocus') }}

        <div class="g--full">
          <button type="submit" class="full-width rounded button--primary">
            Continue
          </button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}