{% extends 'layouts/login.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Enter a new password{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4 col-md-offset-4 well">
          {% call f.form_tag('user.password_reset') %}
              <legend>Enter a new password</legend>

            {% call f.form_group(form.password, css_class='sm-margin-bottom') %}
            {% endcall %}

              <div class="row">
                  <div class="col-md-6">
                      <button type="submit" class="btn btn-primary btn-block">
                          {{ _('Continue') }}
                      </button>
                  </div>
                  <div class="col-md-6">
                      <div class="visible-xs visible-sm sm-margin-top"></div>
                      <a href="{{ url_for('user.login') }}"
                         class="btn btn-default btn-block">
                          {{ _('Back to login') }}
                      </a>
                  </div>
              </div>
          {% endcall %}
        </div>
    </div>
{% endblock %}
