{% extends 'layouts/app.jinja2' %}

{% block title %}Account settings{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <h2>Settings</h2>
            <h4 class="text-muted margin-bottom">{{ current_user.email }}</h4>

            <div class="list-group">
                <a class="list-group-item"
                   href="{{ url_for('user.update_credentials') }}">Update email
                    and password</a>
              {% if current_user.username %}
                  <span class="list-group-item quarter-faded text-muted">
                      Your username is
                      <strong>{{ current_user.username }}</strong>
                  </span>
              {% else %}
                  <a class="list-group-item"
                     href="{{ url_for('user.welcome') }}">Pick a username</a>
              {% endif %}
                <a class="list-group-item"
                   href="{{ url_for('user.update_locale') }}">
                    Update language
                </a>
            </div>
        </div>
        <div class="col-md-5 col-md-push-1 col-md-offset-1">
          {% if current_user.subscription %}
              <h2>{{ current_user.subscription.plan | title }}
                  subscription</h2>
              <h4 class="text-muted margin-bottom">
                {{ current_user.credit_card.brand }}
                  ****{{ current_user.credit_card.last4 }}
                  ({{ current_user.credit_card.exp_date.strftime('%m/%Y') }})
              </h4>

              <div class="list-group">
                  <a class="list-group-item"
                     href="{{ url_for('billing.update_payment_method') }}">
                      Update payment info
                  </a>
                  <a class="list-group-item"
                     href="{{ url_for('billing.billing_history') }}">
                      Billing details
                  </a>
                  <a class="list-group-item"
                     href="{{ url_for('billing.update') }}">
                      Change plan
                  </a>
                  <a class="list-group-item"
                     href="{{ url_for('billing.cancel') }}">
                      <span class="text-muted">Cancel subscription</span>
                  </a>
              </div>
          {% else %}
              <p class="highlight-module__title">
              <h2>Subscribe today</h2>
              <h4 class="text-muted margin-bottom">
                  Hey buddy, why aren't you subscribed?
              </h4>

              <p>Now that you've created an
                  account, wouldn't it be
                  unbelievably amazing to unlock everything by becoming a
                  subscriber today?</p>
              <a href="{{ url_for('billing.pricing') }}"
                 class="btn btn-primary">Learn more</a>
          {% endif %}
        </div>
    </div>
{% endblock %}
