{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Sign up for a new account{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <h2 class="sm-margin-bottom">What are you waiting for?</h2>

            <div class="media margin-bottom">
                <div class="media-left">
                    <i class="fa fa-fw fa-3x fa-wifi text-info"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Real time</h4>
                    <span class="text-muted">
                        Let's be serious now, it is real time.
                    </span>
                </div>
            </div>
            <div class="media margin-bottom">
                <div class="media-left">
                    <i class="fa fa-fw fa-3x fa-bolt text-info"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Stay updated</h4>
                    <span class="text-muted">
                        Never miss a tweet about cats again.
                    </span>
                </div>
            </div>
            <div class="media margin-bottom">
                <div class="media-left">
                    <i class="fa fa-fw fa-3x fa-bed text-info"></i>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">Am I dreaming?</h4>
                    <span class="text-muted">Nope, this is real life!</span>
                </div>
            </div>
        </div>
        <div class="col-md-5 col-md-push-1 col-md-offset-1 well">
          {% call f.form_tag('user.signup') %}
              <legend>Sign up today</legend>

            {% call f.form_group(form.email, css_class='sm-margin-bottom',
                             autofocus='autofocus', placeholder='Email address') %}
            {% endcall %}

            {% call f.form_group(form.password, css_class='sm-margin-bottom') %}
            {% endcall %}

              <div class="row">
                  <div class="col-md-6">
                      <button type="submit" class="btn btn-primary btn-block">
                          {{ _('Register') }}
                      </button>
                  </div>
                  <div class="col-md-6">
                      <div class="visible-xs visible-sm sm-margin-top"></div>
                      <a href="{{ url_for('user.login') }}"
                         class="btn btn-default btn-block">
                          {{ _('Looking to sign in?') }}
                      </a>
                  </div>
              </div>
          {% endcall %}
        </div>
    </div>
{% endblock %}
