{% extends 'layouts/app.jinja2' %}
{% import 'macros/forms.jinja2' as field %}

{% block title %}Update your sign in information{% endblock %}

{% block body %}
  <div class="g--half g--centered subsection-title">
    <div class="login--background">
      <form method="post" action="{{ url_for('user.update_credentials') }}"
            class="clear">
        <legend class="centered medium">Update your sign in information</legend>
        {{ form.csrf_token }}
        {{ form.hidden_tag() }}
        <p class="small color--muted">
          Supply your current password to make any changes.
        </p>
        {{ field.with_errors(form.current_password, placeholder='Current password', autofocus='autofocus') }}
        <br>
        {{ field.with_errors(form.email, placeholder='Email') }}
        {{ field.with_errors(form.password, placeholder='New password (optional)') }}

        <div class="g--half">
          <button type="submit" class="full-width rounded button--primary">
            Save
          </button>
        </div>
        <div class="g--half g--last">
          <a href="{{ url_for('user.settings') }}"
             class="login--register full-width rounded button--secondary">
            Nevermind
          </a>
        </div>
      </form>
    </div>
  </div>
{% endblock %}