{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Update your sign in information{% endblock %}

{% block body %}
  <div class="g--half g--centered subsection-title">
    <div class="login--background">
      {% call f.form_tag('user.update_credentials', class='clear') %}
        <legend class="centered medium">Update your sign in information</legend>
        <p class="small color--muted">
          Supply your current password to make any changes.
        </p>
        {{ f.field(form.current_password, placeholder='Current password', autofocus='autofocus') }}
        <br>
        {{ f.field(form.email, placeholder='Email') }}
        {{ f.field(form.password, placeholder='New password (optional)') }}

        <div class="g--half">
          <button type="submit" class="full-width rounded button--primary">
            Save
          </button>
        </div>
        <div class="g--half g--last">
          <a href="{{ url_for('user.settings') }}"
             class="login--register full-width rounded button--secondary">
            Nevermind
          </a>
        </div>
      {% endcall %}
    </div>
  </div>
{% endblock %}