{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% block title %}Thanks for signing up{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-5">
            <h2 class="sm-margin-bottom">You're just about done</h2>

            <p class="margin-bottom">
                Imagine how incredible it would be if you were to become a paid
                member.
                You would gain so many cool things, it's mind boggling.
            </p>

            <p class="small">
                Take a look at what you'll gain by
                <a href="{{ url_for('billing.pricing') }}">becoming a
                paid member</a>.
            </p>
        </div>
        <div class="col-md-5 col-md-push-1 col-md-offset-1 well">
          {% call f.form_tag('user.welcome') %}
              <legend>Pick a username</legend>
              <p class="small help-block sm-margin-bottom">
                  You can only pick this once, make it count.
              </p>

            {% call f.form_group(form.username, css_class='sm-margin-bottom',
                                 autofocus='autofocus') %}
            {% endcall %}

              <div class="row">
                  <div class="col-md-6">
                      <button type="submit" class="btn btn-primary btn-block">
                          {{ _('Save') }}
                      </button>
                  </div>
                  <div class="col-md-6">
                      <div class="visible-xs visible-sm sm-margin-top"></div>
                      <a href="{{ url_for('billing.pricing') }}"
                         class="btn btn-default btn-block">
                          {{ _('Do it later') }}
                      </a>
                  </div>
              </div>
          {% endcall %}
        </div>
    </div>
{% endblock %}
