{% extends 'layouts/app.jinja2' %}
{% import 'billing/macros/billing.jinja2' as billing %}

{% block title %}Billing details and history{% endblock %}

{% block body %}
    <h2>Subscription details</h2>
  {% if coupon %}
      <div class="alert alert-info alert-small">
          Discount code <strong>{{ coupon.code }}</strong> is applied to your
          subscription.
      </div>
      <span class="small text-muted">{{ billing.coupon_data(coupon) }}</span>
      <br class="sm-margin-bottom">
  {% endif %}
  {% if upcoming == None %}
      <h3>No upcoming payments</h3>
      <p>You are not currently subscribed, so there's nothing to see here.</p>
  {% else %}
      <table class="table table-striped margin-bottom">
          <thead>
          <tr>
              <th>Subscription</th>
              <th>Description</th>
              <th>Next billing date</th>
              <th>Price</th>
          </tr>
          </thead>
          <tbody>
          <tr>
              <td>{{ upcoming.plan }}</td>
              <td>{{ upcoming.description }}</td>
              <td>
                  <time class="short-date"
                        data-datetime="{{ upcoming.next_bill_on }}">
                    {{ upcoming.next_bill_on }}
                  </time>
              </td>
              <td>
                  ${{ upcoming.amount_due | format_currency }}
                  <span class="color--muted"> / {{ upcoming.interval }}</span>
              </td>
          </tr>
          </tbody>
      </table>
  {% endif %}
    <h2>Recent billing history</h2>
  {% if invoices.count() == 0 %}
      <h4>No invoices found</h4>
      <p>This isn't an error. You just haven't been invoiced yet.</p>
  {% else %}
      <table class="table table-striped margin-bottom">
          <thead>
          <tr>
              <th>Date</th>
              <th>Method</th>
              <th>Description</th>
              <th>Service period</th>
              <th>Tax</th>
              <th>Total</th>
          </tr>
          </thead>
          <tbody>
          {% for invoice in invoices %}
              <tr>
                  <td>
                      <time class="from-now"
                            data-datetime="{{ invoice.created_on }}">
                        {{ invoice.created_on }}
                      </time>
                  </td>
                  <td class="small">
                    {{ invoice.brand }} ****{{ invoice.last4 }}
                  </td>
                  <td class="small">{{ invoice.description }}</td>
                  <td>
                      <time class="short-date"
                            data-datetime="{{ invoice.period_start_on }}">
                        {{ invoice.period_start_on }}
                      </time>
                      <span class="text-info">&mdash;</span>
                      <time class="short-date"
                            data-datetime="{{ invoice.period_end_on }}">
                        {{ invoice.period_end_on }}
                      </time>
                  </td>
                  <td title="{{ (invoice.tax_percent | round(2)) | string + '%' if invoice.tax_percent }}">
                      {{ '$' + invoice.tax | format_currency if invoice.tax }}
                  </td>
                  <td title="{{ invoice.currency }}">${{ invoice.total | format_currency }}</td>
              </tr>
          {% endfor %}
          </tbody>
      </table>
  {% endif %}
    <a href="{{ url_for('user.settings') }}"
       class="margin-top btn btn-primary">
        {{ _('Go back to your account') }}</a>
{% endblock %}

