{% extends 'layouts/app.jinja2' %}
{% import 'macros/form.jinja2' as f with context %}

{% set plan_name = request.args.get('plan', '') %}
{% if plan_name %}
  {% set title = 'Enter payment information' %}
  {% set endpoint = 'billing.create' %}
  {% set button = _('Process payment') %}
{% else %}
  {% set title = 'Update payment information' %}
  {% set endpoint = 'billing.update_payment_method' %}
  {% set button = _('Update payment method') %}
{% endif %}

{% block title %}{{ title }}{% endblock %}

{% block body %}

    <div class="row">
        <div class="col-md-4 col-md-offset-4 well">
          {% call f.form_tag(endpoint, fid='payment_form') %}
              <legend>
                {% if plan_name %}
                  {{ plan_name | title }} subscription<br>
                    <span class="small text-muted">
                        This plan costs ${{ plan.amount | format_currency }} / {{ plan.interval }}
                    </span>
                {% else %}
                  {{ title }}
                {% endif %}
              </legend>

            <div class="alert alert-danger payment-errors"></div>

            {% if plan_name %}
                <div class="coupon-code">
                  {{ form.coupon_code.label }}
                  {{ f.field(form.coupon_code) }}
                    <div id="coupon_code_status"
                         class="small alert alert-small alert-success">
                    </div>
                </div>
            {% endif %}

            {% call f.form_group(form.name, css_class='sm-margin-bottom',
                             autofocus='autofocus') %}
            {% endcall %}

              <div class="form-group">
                  <label for=""><strong>Card number</strong></label>
                  <input data-stripe="number" class="form-control"
                         value="{{ '****' + card_last4 if card_last4 }}"/>
              </div>

              <div class="row">
                  <div class="col-md-6">
                      <div class="form-group pull-left form-inline">
                          <label for="" class="block"><strong>Exp.
                              date</strong></label><br>
                          <select data-stripe="exp-month"
                                  class="form-control cc-details">
                              <option value=""></option>
                            {% for month in range(1,13) %}
                                <option
                                        value="{{ '%02d' % month }}">{{ '%02d' % month }}</option>
                            {% endfor %}
                          </select>
                          <select data-stripe="exp-year"
                                  class="form-control cc-details">
                              <option value=""></option>
                            {% for year in range(2015,2031) %}
                                <option
                                        value="{{ '%04d' % year }}">{{ '%02d' % year }}</option>
                            {% endfor %}
                          </select>
                      </div>
                  </div>
                  <div class="col-md-6">
                      <div class="form-group pull-right">
                          <label for="">
                              <strong>
                                  <abbr title="3-4 digit code on the back">
                                      CVC
                                  </abbr>
                              </strong>
                          </label>
                          <input data-stripe="cvc"
                                 class="form-control cc-details"/>
                      </div>
                  </div>
              </div>

              <button type="submit"
                      class="btn btn-primary btn-block lg-margin-bottom">
                  <img src="{{ asset_url_for('images/spinner.gif') }}"
                       class="spinner"
                       width="16" height="11" alt="Spinner"/>
                {{ button }}
              </button>

              <div class="text-center quarter-faded">
                  <img src="{{ asset_url_for('images/credit-cards/visa.png') }}"
                       width="40" height="24" class="cc-images" alt="Visa"/>
                  <img src="{{ asset_url_for('images/credit-cards/mastercard.png') }}"
                       width="40" height="24" class="cc-images"
                       alt="Mastercard"/>
                  <img src="{{ asset_url_for('images/credit-cards/american-express.png') }}"
                       width="40" height="24" class="cc-images"
                       alt="American Express"/>
                  <img src="{{ asset_url_for('images/credit-cards/jcb.png') }}"
                       width="40" height="24" class="cc-images" alt="J.C.B"/>
                  <img src="{{ asset_url_for('images/credit-cards/diners-club.png') }}"
                       width="40" height="24" class="cc-images"
                       alt="Diner's Club"/>

                  <div class="text-success sm-margin-top">
                      <i class="fa fa-fw fa-lock"></i>
                      <span class="small">Protected by 128-bit SSL encryption</span>
                  </div>
              </div>
          {% endcall %}
        </div>
    </div>
{% endblock %}
