{% extends 'layouts/app.jinja2' %}

{% block title %}You can't put a price on {{ _('Cat watch') }}{% endblock %}
{% block heading %}
  <h2 class="centered">You're moments away</h2>
  <h3 class="centered bottom-margin color--muted">
    Just a few more clicks or taps before it's cat tweet time
  </h3>
{% endblock %}

{% block body %}
  <div class="clear subsection-title centered">
    <div class="g--third login--background">
      <h3 class="text-divider color--muted">Bronze</h3>
      <dl>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin strike">Dicta optio cumque dolore</dd>
        <dd class="no-margin strike">Dicta optio cumque dolor</dd>
        <dd class="no-margin strike">Dicta optio cumque dolor</dd>
        <dd class="no-margin strike">Consequuntur voluptatum</dd>
        <dd class="no-margin strike">Consequuntur voluptatum</dd>
        <dd class="no-margin strike">Consequuntur voluptatum</dd>
      </dl>
      <a href="" class="button--secondary">Continue</a>

      <p class="small color--muted">$1.00 / month</p>
    </div>
    <div class="g--third login--background">
      <h3 class="text-divider color--highlight">Gold</h3>
      <dl>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin">Dicta optio cumque dolore</dd>
        <dd class="no-margin">Dicta optio cumque dolor</dd>
        <dd class="no-margin">Dicta optio cumque dolor</dd>
        <dd class="no-margin strike">Consequuntur voluptatum</dd>
        <dd class="no-margin strike">Consequuntur voluptatum</dd>
        <dd class="no-margin strike">Consequuntur voluptatum</dd>
      </dl>
      <a href="" class="button--secondary">Continue</a>

      <p class="small color--muted">$5.00 / month</p>
    </div>
    <div class="g--third g--last login--background">
      <h3 class="text-divider color--muted">Platinum</h3>
      <dl>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin">Dicta optio cumque dolore</dd>
        <dd class="no-margin">Dicta optio cumque dolor</dd>
        <dd class="no-margin">Dicta optio cumque dolor</dd>
        <dd class="no-margin">Consequuntur voluptatum</dd>
        <dd class="no-margin">Consequuntur voluptatum</dd>
        <dd class="no-margin">Consequuntur voluptatum</dd>
      </dl>
      <a href="" class="button--secondary">Continue</a>

      <p class="small color--muted">$10.00 / month</p>
    </div>
  </div>
{% endblock %}
