{% extends 'layouts/app.jinja2' %}
{% import 'billing/macros/billing.jinja2' as billing with context %}

{% block title %}You can't put a price on {{ _('Cat watch') }}{% endblock %}
{% block heading %}
  {% if current_user.subscription %}
    <h2 class="centered bottom-margin">You're about to change plans</h2>
    <div class="alert--warn centered bottom-margin">
      Your plan will change <strong>immediately</strong> after clicking 'Change plan'.
    </div>
  {% else %}
    <h2 class="centered">You're moments away</h2>
    <h3 class="centered bottom-margin color--muted">
      Just a few more clicks or taps before it's cat tweet time
    </h3>
  {% endif %}
{% endblock %}

{% block body %}
  <div class="clear subsection-title centered">
    {% call billing.plan(plans['0']) %}
      <dl>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin strike">Dicta optio cumque dolore</dd>
        <dd class="no-margin strike">Dicta optio cumque dolor</dd>
        <dd class="no-margin strike">Dicta optio cumque dolor</dd>
        <dd class="no-margin strike">Consequuntur voluptatum</dd>
        <dd class="no-margin strike">Consequuntur voluptatum</dd>
        <dd class="no-margin strike">Consequuntur voluptatum</dd>
      </dl>
    {% endcall %}
    {% call billing.plan(plans['1']) %}
      <dl>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin">Dicta optio cumque dolore</dd>
        <dd class="no-margin">Dicta optio cumque dolor</dd>
        <dd class="no-margin">Dicta optio cumque dolor</dd>
        <dd class="no-margin strike">Consequuntur voluptatum</dd>
        <dd class="no-margin strike">Consequuntur voluptatum</dd>
        <dd class="no-margin strike">Consequuntur voluptatum</dd>
      </dl>
    {% endcall %}
    {% call billing.plan(plans['2'], last=True) %}
      <dl>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin">Lorem ipsum dolor sit amet</dd>
        <dd class="no-margin">Dicta optio cumque dolore</dd>
        <dd class="no-margin">Dicta optio cumque dolor</dd>
        <dd class="no-margin">Dicta optio cumque dolor</dd>
        <dd class="no-margin">Consequuntur voluptatum</dd>
        <dd class="no-margin">Consequuntur voluptatum</dd>
        <dd class="no-margin">Consequuntur voluptatum</dd>
      </dl>
    {% endcall %}
  </div>
{% endblock %}
