.alert {
  padding: 10px;
  border: 1px solid lighten($colorGrayLighter, 30%);
  background-color: lighten($colorGrayLighter, 40%);
  color: darken($colorGray, 20%);
}

.alert--info {
  @extend .alert;
  border: 1px solid lighten($colorBlue, 30%);
  background-color: lighten($colorBlue, 40%);
  color: darken($colorBlue, 20%);
}

.alert--success {
  @extend .alert;
  border: 1px solid lighten($colorGreen, 42%);
  background-color: lighten($colorGreen, 57%);
  color: darken($colorGreen, 12%);
}

.alert--warn {
  @extend .alert;
  border: 1px solid lighten($colorYellow, 32%);
  background-color: lighten($colorYellow, 45%);
  color: darken($colorYellow, 20%);
}

.alert--interesting {
  @extend .alert;
  border: 1px solid darken($colorPurple50, 8%);
  background-color: lighten($colorPurple50, 1%);
  color: darken($colorPurple100, 25%);
}

.alert--error, .alert--message {
  @extend .alert;
  border: 1px solid lighten($colorDanger, 30%);
  background-color: lighten($colorDanger, 40%);
  color: darken($colorDanger, 20%);
}

.alert--small {
  padding: 4px;
}
