input, textarea, select {
  -moz-box-sizing: border-box;
  width: 100%;
}

input, textarea, select {
  border: 1px solid $colorBlueGrey100;
  border-radius: 3px;
}

select {
  background-color: #ffffff;
}

input:focus, textarea:focus, select:focus {
  border: 1px solid $colorBlue;
}

input[type='checkbox'] {
  width: 16px;
  vertical-align: middle;
}

select,
input[type='text'], input[type='password'],
input[type='datetime'], input[type='datetime-local'],
input[type='date'], input[type='month'],
input[type='time'], input[type='week'],
input[type='number'], input[type='email'], input[type='url'],
input[type='search'], input[type='tel'], input[type='color'] {
  display: inline-block;
  font-size: 16px;
  height: 44.2px;
  line-height: 26px;
  margin-bottom: 20px;
  padding: 4px 6px;
}

textarea {
  display: inline-block;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 20px;
  padding: 4px 6px;
}

.has-error {
  border: 1px solid $colorDanger;
}

.form-errors {
  color: $colorDanger;
  margin-top: -20px;
  margin-bottom: 20px;
  padding-top: 0;
}